*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* <!-- HEADER --> */
.header-section {
}

.header-cont {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.italic-title {
  font-style: italic;
}

.logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.menu-item {
}

.soc-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.soc-icon {
}

/* <!-- 1 SECTION 1 - HERO --> */
.hero {
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 381px 40px 40px 40px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
}

.main-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  width: 484px;
  height: 102px;
  margin-bottom: 32px;
}

.click {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.buy {
  color: #fff;
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  font-weight: 600;
}

.but-him {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.scroll {
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.42px;
  margin-left: 585px;
}

/* <!-- 2 SECTION 2 - PREFERENCES --> */
.section-preferences {
  background-color: #1e1823;
  color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  margin-top: 80px;
}
.preferences {
}
.container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pref-list {
  display: flex;
  gap: 88px;
  justify-content: center;
  align-items: flex-start;
}
.pref-item {
  width: calc((100% - 172) / 2);
}
.pref-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.pref-text {
  width: 308px;
}

/* <!-- 3 SECTION 3 - INGREDIENTS --> */
.igr-section {
  margin-top: 120px;
}
.container {
}

.section-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  /* letter-spacing: ; */
  text-transform: uppercase;
  width: 412px;
}

.orange-title {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.igr-top {
  display: flex;
  width: 486px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingr-text {
  text-align: center;
}

.ingr-list {
  display: flex;
  width: 1136px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.ingr-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  height: 270px;
  padding: 0 23px 0;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  gap: 36px;
}

.ingr-title {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

/* <!-- 4 SECTION 4 - HOW IT'S MADE? --> */
.him-section {
}
.container {
}
.section-title {
}
.him-list {
}
/* <!-- 5 SECTION 5 - OUR PRODUCTS --> */
.products-section {
}
.container {
}
.section-title {
}
.products-list {
}
.product-item {
}
.price {
}
/* <!-- 6 SECTION 6 - TOP SELLERS --> */
.sellers-section {
}
.container {
}
.section-title {
}
.sellers-list {
}
.sellers-card {
}
/* <!-- 7 SECTION 7 - CHOCOLATE IS LOVED --> */
.loved-section {
}
.container {
}
.section-title {
}
.clients-list {
}
.client {
}
.client-name {
}
.client-review {
}
.review {
}
/* <!-- FOOTER --> */
.footer-section {
  background-color: #1e1823;
  color: #fff;
}

.footer-or-title {
  color: #fd9222;
}

.contacts {
}

.container {
}
.section-title {
}
.soc-list {
}
.soc-icon {
}
.input {
}
.buy {
}
