*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* <!-- HEADER --> */
.header-section {
}
.logo {
  text-transform: uppercase;
  text-decoration: none;
}
.italic-title {
  font-style: italic;
}
.menu {
}
.menu-item {
}
.soc-icon {
}
/* <!-- 1 SECTION 1 - HERO --> */
.hero {
}

.hero-container {
  display: flex;
  padding: 381px 40px 40px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
}

.main-title {
}
.buy {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
}
/* <!-- 2 SECTION 2 - PREFERENCES --> */
.section-preferences {
  background-color: #1e1823;
  color: rgba(255, 255, 255, 0.7);
}
.preferences {
}
.container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pref-list {
}
.pref-item {
}
.pref-title {
}
.pref-text {
}
/* <!-- 3 SECTION 3 - INGREDIENTS --> */
.igr-section {
}
.container {
}
.section-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  /* letter-spacing: ; */
  text-transform: uppercase;
}

.orange-title {
  color: #fd9222;
}

.ingr-list {
}
.ingr-card {
}
/* <!-- 4 SECTION 4 - HOW IT'S MADE? --> */
.him-section {
}
.container {
}
.section-title {
}
.him-list {
}
/* <!-- 5 SECTION 5 - OUR PRODUCTS --> */
.products-section {
}
.container {
}
.section-title {
}
.products-list {
}
.product-item {
}
.price {
}
/* <!-- 6 SECTION 6 - TOP SELLERS --> */
.sellers-section {
}
.container {
}
.section-title {
}
.sellers-list {
}
.sellers-card {
}
/* <!-- 7 SECTION 7 - CHOCOLATE IS LOVED --> */
.loved-section {
}
.container {
}
.section-title {
}
.clients-list {
}
.client {
}
.client-name {
}
.client-review {
}
.review {
}
/* <!-- FOOTER --> */
.footer-section {
  background-color: #1e1823;
  color: #fff;
}

.footer-or-title {
  color: #fd9222;
}

.contacts {
}

.container {
}
.section-title {
}
.soc-list {
}
.soc-icon {
}
.input {
}
.buy {
}
